*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
#slideshow{
    background-color: rgb(90,85,89,0.5);
}
.slider_text {
    font-size: 0.9rem;
}
#slider-text-bg {
    background-color: rgba(90, 85, 89, 0.5);
}
.rounded {
    border-radius: 0.25rem !important;
}
#logo-text {
    font-weight: bolder;
    font-size: 1.15rem;
}
#nav-text-style {
    font-size: 0.9rem;
    color: #000;
}