*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
h5 {
    font-size: 1.25rem;
}
p {
    font-size: 0.9rem;
}
#slideshow{
    background-color: rgb(90,85,89,0.5);
}
.slider_text {
    font-size: 0.9rem;
}
#slider-text-bg {
    background-color: rgba(90, 85, 89, 0.5);
}
.rounded {
    border-radius: 0.25rem !important;
}
#logo-text {
    font-weight: bolder;
    font-size: 1.15rem;
}
#nav-text-style {
    font-size: 0.9rem;
    color: #000;
}
#formInputText::placeholder {
    font-size: 0.9rem;
}
#formBtn {
    font-size: 0.9rem;
}
.common-text {
    color: #848199;
}
.btn_common {
    padding: 5px 20px;
    border-radius: 20px;
    color: #3F87F5;
    border: none;
    background-color: #fffefe;
}
.weeding-plus {
    background-color: #3F87F5;
    color: #fffefe;
    border-radius: 20px;
    box-shadow: 0px 56px 90px -35px #3f94f5;
    position: relative;
    top: -50px;
}
.weeding-plus-btn {
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    position: absolute;
    top: -17px;
    left: 66%;
}
.user-name {
    font-weight: bold;
}
.app-section {
    width: 250px;
    padding: 16px;
    margin-left: 44%;
}
.app-section img {
    width: 130px;
    height: 40px;
    margin-bottom: 25px;
}
.app-section h3 {
    margin-bottom: 30px;
}
